<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
  rel="stylesheet">

<nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global"
  style="margin-top: 16px">
  <!-- Logo -->
  <div class="flex lg:flex-1">
    <a href="#" class="-m-1.5 p-1.5 logo-container">
      <i class="bi bi-cloud-sun"></i>
      <span class="logo-text">DreamCatcher</span>
    </a>
  </div>


  <!-- Menú de navegación - preguntar -->
  <div class="navbar-content">
    <!-- Formulario de búsqueda -->
    <form (submit)="openModal()" (submit)="onSearch()" class="search-form center-form">
      <div class="search-wrapper">
        <input type="text" placeholder="Buscar..." class="search-control" (focus)="openModal()"
          [(ngModel)]="searchQuery" name="searchQuery" />
        <span class="search-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </span>
      </div>
    </form>

    <div class="hidden lg:flex lg:ml-4 ml-auto absolute right-0 top-14 right-[250px]">
      <div class="relative w-20 max-w-sm" (clickOutside)="closeMenu()">
        <button (click)="toggleMenuI()"
          class="flex items-center text-gray-600 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700">
          <img [src]="getFlagUrl(currentLanguage)" alt="Current Language" class="h-3 w-3 rounded-full">
          <span class="ml-1 text-[10px] font-medium">{{ currentLanguage.toUpperCase() }}</span>
        </button>
        <div *ngIf="showMenuI" class="absolute right-0 mt-1 w-20 bg-white border border-gray-300 rounded-lg shadow-md">
          <a href="#" (click)="changeLanguage('en', $event)"
            class="flex items-center px-2 py-1 text-gray-600 hover:bg-gray-100">
            <img [src]="getFlagUrl('en')" alt="English" class="h-3 w-3 rounded-full">
            <span class="ml-1 text-[10px] font-medium">English</span>
          </a>
          <a href="#" (click)="changeLanguage('es', $event)"
            class="flex items-center px-2 py-1 text-gray-600 hover:bg-gray-100">
            <img [src]="getFlagUrl('es')" alt="Spanish" class="h-3 w-3 rounded-full">
            <span class="ml-1 text-[10px] font-medium">Español</span>
          </a>
        </div>
      </div>
    </div>
    
    <!-- Modal de búsqueda que aparece justo debajo -->
    <div *ngIf="isModalVisible && searchQuery" class="dropdown-modal">
      <ul class="results-list" *ngFor="let result of results; index as i">
        <li class="result-item">
          <div class="user-info">
            <img alt="" class="user-photo" [src]="result.user.avatar" />
            <span class="user-name">{{ result.user.firstname }} {{ result.user.lastname }}</span>
          </div>

          <div class="content-post">
            <span>{{ result.text }}</span>
          </div>

          <div class="etiqueta">
            <small class="mb-0">#{{ result.tag }}</small>
          </div>
        </li>
      </ul>

      <div *ngIf="results.length === 0 && searchPerformed && searchQuery" class="mt-4">
        <p>No se encontraron resultados.</p>
      </div>
    </div>
  </div>

  <div (click)="toggleNotifications()" style="margin-left: 150px;"
    class="relative flex items-center justify-center w-12 h-12 bg-gray-800 text-white rounded-full cursor-pointer transition-transform transform hover:scale-110">
    <svg xmlns="https://i.pinimg.com/736x/ac/92/d3/ac92d3f03dcb67ddd2c56c1424e2992d.jpg" fill="none" viewBox="0 0 24 24"
      stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 18c1.3 0 2.4-.2 3.4-.5l.1.1c.5.6.7 1.2 1.1 1.9.4.7 1.2 1.1 2.1 1.1 1.7 0 3-1.4 3-3s-1.4-3-3-3c-.5 0-.9.1-1.3.3l.1-.1c-.1-.3-.3-.6-.5-.9L12 1.5 7.7 16c-.2.3-.4.6-.5.9-.4-.2-.9-.3-1.4-.3-1.7 0-3 1.4-3 3s1.4 3 3 3c.8 0 1.5-.4 2-1.1l.1-.1c.8.3 1.7.5 2.6.5zM12 0v14" />
    </svg>

    <!-- Contador de notificaciones (Reemplaza con el length del array) -->
    <div *ngIf="notification.length > 0"
      class="absolute top-0 right-0 w-4 h-4 bg-red-600 text-white text-xs font-semibold rounded-full flex items-center justify-center -translate-x-2 translate-y-2">
      {{ notification.length }}
    </div>
  </div>

  <div class="hidden lg:flex lg:gap-x-12">
    <div class="relative">
      <div *ngIf="isNotificationsVisible"
        class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
        <div class="p-4" *ngFor="let notification of notification">
          <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-gray-50">
            <!-- Icono de la notificación -->
            <div class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
              <svg class="size-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
              </svg>
            </div>

            <!-- Contenido de la notificación -->
            <div class="flex-auto">
              <a href="#" class="block font-semibold text-gray-900">
                {{ notification.username }} - Nuevo post creado
                <span class="absolute inset-0"></span>
              </a>
              <p class="mt-1 text-gray-600">{{ notification.description }}</p>
            </div>
            <!-- Botón de "Ver" -->
            <div class="absolute bottom-4 right-4">
              <button (click)="onNotificationClick(notification.id, notification.postId)"
                class="bg-blue-600 text-white px-3 py-1 rounded">
                Ver
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden lg:flex lg:flex-1 lg:justify-end space-x-4 items-center">
    <div class="relative w-8 h-8 rounded-full overflow-hidden">
      <img src="https://www.w3schools.com/w3images/avatar2.png" alt="User" class="w-full h-full object-cover" />
    </div>


    <button  (click)="logout()" class="text-sm/6 font-semibold text-gray-900"
      >Log in <span aria-hidden="true">&rarr;</span></button
    >
  </div>

  <div *ngIf="selectedPost" class="fixed inset-0 flex items-center justify-center bg-gray-500/75">
    <div class="bg-white p-6 rounded-lg max-w-lg w-full">
      <h2 class="text-lg font-bold">{{ selectedPost.text }}</h2>
      <p class="mt-2">{{ selectedPost.tag }}</p>
      <img *ngIf="selectedPost.image" [src]="selectedPost.image" alt="Post image" class="mt-4 w-full h-64 object-cover">
      <button (click)="selectedPost = null" class="mt-4 bg-red-600 text-white px-4 py-2 rounded">Cerrar</button>
    </div>
  </div>
</nav>