/* Estilos para el navbar */
.navbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Formulario de búsqueda */
.search-form {
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-left: 100px;
}

.search-control {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Modal de búsqueda (dropdown) */
.dropdown-modal {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 45px;
  width: 100%;
  max-width: 650px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: absolute;
  padding: 15px;
}

.dropdown-modal .results-list {
  display: flex;
  flex-direction: column;
}

/* Lista de resultados */
.result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  white-space: nowrap;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Mantiene el nombre en una línea */
}

.content-post {
  flex-grow: 2;
  word-wrap: break-word;
  margin-right: 15px;
  margin-left: 25px;
}

.etiqueta {
  font-size: 0.9em;
  white-space: nowrap;
}

.result-item:hover {
  background-color: #f1f1f1;
}

/* Estilos para el ícono de notificación */
.relative {
  position: relative;
}

.notification-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.notification-counter {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-color: #e53e3e;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
}

/* Estilos para el modal de notificaciones */

.navbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-form.center-form {
  width: 120%;
  max-width: 300px;
  position: relative;
  margin-left: 60px;
  margin-right: auto;
  margin-top: 8px;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-control {
  width: 100%;
  padding: 8px 40px 8px 12px; 
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.search-control:focus {
  border-color: #3C91E6;
}

.search-icon {
  position: absolute;
  right: 12px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  color: #888;
}

.bi-cloud-sun {
  font-size: 32px; 
  color: #3C91E6;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 10px; 
  font-size: 24px; 
  color: #3C91E6; 
}

/**/
