.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .close-button:hover {
    color: red; /* Cambia el color cuando el usuario pasa el mouse */
  }