        <div class="profile">
          <div class="cover-photo">
            <img src="https://i.pinimg.com/736x/91/f0/b6/91f0b61eb390a50700dc4327eae91244.jpg" alt="Foto de Portada">
          </div>
          <div class="profile-info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwHf5299P7Ub9mEF3y-KBKsF-kwSRJQUKcyQ&s" alt="Foto de Perfil" class="profile-photo">
            <h3 class="name">Joss Balarezo</h3>
            <p class="username">jossbalarezo21</p>
            <div class="stats">
              <span><strong>2022</strong>{{ 'profile1.followers' | translate }}</span>
              <span><strong>590</strong>{{ 'profile2.following' | translate }}</span>
              <span><strong>30</strong> {{ 'profile3.post' | translate }}</span>
            </div>
            <p class="description">
              {{ 'profile.description' | translate }}
            </p>
            <button type="button" class="btn btn-outline-success" style="font-size: 17px; border: none;" (click)="openModal()">Editar Perfil</button>
            <button type="button" class="btn btn-outline-danger" style="font-size: 17px; border: none;">Eliminar Perfil</button>
          </div>
          <div class="extra-info">
            <h4>{{ 'profile4.information' | translate }}</h4>
            <p>🏠 {{ 'profile5.city' | translate }}</p>
            <p>❤️ {{ 'profile6.status' | translate }}</p>
            <p>💼 {{ 'profile7.profession' | translate }}</p>
          </div>
        </div>
