        <div class="profile">
          <div class="cover-photo">
            <img src="https://i.pinimg.com/736x/91/f0/b6/91f0b61eb390a50700dc4327eae91244.jpg" alt="Foto de Portada">
          </div>
          <div class="profile-info">
            <img [src]="profileImage" alt="Foto de Perfil" class="profile-photo">
    <h3 class="name">{{ fullName }}</h3>
            <p class="description">
              {{ user.description }}
            </p>
            <button type="button" class="btn btn-outline-success" style="font-size: 17px; border: none;" (click)="openModal()">Editar Perfil</button>
            <button type="button" class="btn btn-outline-danger" style="font-size: 17px; border: none;">Eliminar Perfil</button>
          </div>
          <div class="extra-info">
            <h4>{{ 'profile4.information' | translate }}</h4>
            <p>🏠 {{ livingIn }}</p>
            <p>❤️ {{ maritalStatus }}</p>
            <p>💼{{ workingAt }}</p>
          </div>
        </div>
