<!-- Sección para previsualizar y seleccionar imagen -->
<div class="input-group mb-3">
    <!-- Selección de imagen -->
    <div class="relative">
      <div class="w-32 h-32 rounded-full bg-gray-200 overflow-hidden shadow-md">
        <input type="file" id="media" class="hidden" (change)="getImageFile($event)" accept="image/*" />
        <label for="media" class="cursor-pointer w-full h-full flex items-center justify-center text-gray-600">
          <!-- Vista previa de la imagen seleccionada -->
          <img [src]="imageSrc" alt="Imagen seleccionada" class="w-full h-full object-cover" />
        </label>
      </div>
    </div>
  </div>
  
  <!-- Formulario para los inputs del post -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Contenedor para los inputs de texto y etiqueta -->
    <div class="input-group mb-3">
      <!-- Imagen de perfil a la izquierda -->
      <img class="rounded-full w-16 h-16 object-cover mr-4" src="https://i.pinimg.com/564x/40/76/79/407679d20088c659aba7a760c69dd7c3.jpg" alt="Profile Image" />
    
      <!-- Contenedor para los inputs del post (texto y etiqueta) -->
      <div class="w-full">
        <!-- Input para el texto del post -->
        <input type="text" class="form-control w-full mb-2" formControlName="text" placeholder="¿Qué estás pensando?" />
  
        <!-- Input para la etiqueta del post (ej. música, deporte, etc) -->
        <input type="text" class="form-control w-full" formControlName="tag" placeholder="Etiqueta (Música, Deporte, etc)" />
      </div>
    </div>
  
    <!-- Botón de publicar, visible siempre -->
    <button type="submit" class="btn btn-custom-primary">Publicar</button>
  </form>
  