.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.inputs-container {
  margin-left: 15px;
}

.post-input {
  width: 420px;
  margin-bottom: 10px;
}

.post-input+.post-input {
  margin-top: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.image-box {
  width: 12rem;
  height: 3rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

.image-selected {
  height: 400px;
  width: 450px;
}

.image-selected i {
  margin-top: 0;
}

.image-box i {
  font-size: 1.5rem;
  color: #3C91E6;
  margin-top: -20px;
  transition: margin-top 0.3s ease;
}

.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-custom-primary {
  background-color: #3C91E6;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  transition: background-color 0.3s ease;
  margin-top: -8px;
  margin-left: auto;
  margin-right: 10px;
  display: block;
  cursor: pointer;
}

.btn-custom-primary:hover {
  background-color: #0056b3;
  color: #fff;
}


.btn-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #121212a5;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  color: dfdfdf;
  z-index: 10;
  width: 8vw;
  height: 8vw;
  max-width: 30px;
  max-height: 30px;
}

.btn-circle:hover {
  background-color: #1212127d;
}

/* Contenedor de la imagen (más corto en altura) */
.image-box {
  width: 12rem;
  height: 3rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* Expansión de la caja de imagen cuando hay una imagen seleccionada */
.image-selected {
  height: 400px;
  width: 450px;
}

/* Estilo para la imagen dentro de la caja */
.image-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}